body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h3 {
  font-weight: 600;
}

/* ========== PRODUCT  ===========*/
.product h3 {
  color: #1f1f1f;
  font-weight: bold;
}

.product p {
  font-weight: 200;
  color: #858383;
}

.figure {
  width: 198px;
}

.figure .figure-caption p {
  font-weight: 600;
  color: rgb(250, 89, 29);
}

.figure h5 {
  font-size: 18px;
  font-weight: bold;
  color: #5a5a5a;
}

.product-img {
  position: relative;
}

.product-img a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s;
}

.product-img:hover a {
  opacity: 1;
}